<h1><%= @title %></h1>
<form action="/create" id="ad" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label> Title: </label></br>
    <input id="title" class="form-control" name="ad[title]" type="text" />
  </div>
  <div class="form-group">
    <label> Width: </label></br>
    <input id="width" class="form-control" name="ad[width]" type="text" />
  </div>
  <div class="form-group">
    <label> Height: </label></br>
    <input id="height" class="form-control" name="ad[height]" type="text" />
  </div>
  <div class="form-group">
    <label> Filename: </label></br>
    <input id="filename" class="form-control" name="ad[filename]" type="text" />
  </div>
  <div class="form-group">
    <label> URL: </label></br>
    <input id="url" class="form-control" name="ad[url]" type="text" />
  </div>
  <div class="form-group">
    <label> Content: </label></br>
    <input id="url" class="form-control" name="ad[content]" type="text" />
  </div>
  <div class="form-group">
    <label> Image File: </label></br>
    <input id="image" class="form-control" name="image" type="file" />
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
